:root {
  color: #000;
  background: #fff;
}

.slidev-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  background: #fff;
}

.slidev-layout > h1 {
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
  right: 3.5rem;
}
